$def with (static, name)
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <title>skr Information City</title>
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/MyBootstrap/base.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/jquery/axjs0.js"></script>
    <style>
    .list-group-item.active {
      z-index: 2;
      color: #FFFF79;
      background-color: #38874A;
      border-color: #255A31;
    }
    </style>    
    <script>
        $$(document).ready(function() {  
            $$(window).bind('scroll', function() { 
                if ($$(window).scrollTop() > 600) {
                    $('nav').addClass('fixed');
                } else {
                    $('nav').removeClass('fixed');
                }
            });
        });
    </script>
	<script type="text/javascript">
    	function toggle_visibility(id) {
           var e = document.getElementById(id);
           if(e.style.display == 'block')
              e.style.display = 'none';
           else
              e.style.display = 'block';
        }

		function onloadFunction() {
			var afrom=document.getElementById("afrom");
			var username=document.getElementById("aname");
			var usertag = document.getElementById("user_icon");
			var logout_tag = document.getElementById("login_menu1");
			var register_tag = document.getElementById("login_menu2");
			
			if (afrom.value == "f" && username.value == "none"){
				return;
			}else{
				logout_tag.innerHTML = "Log Out";
				logout_tag.href = "/command/signOut";
				register_tag.innerHTML = "";
				register_tag.href = "#";
				usertag.innerHTML = username.value;
			}
		}

       function test1(name){       // a為用戶名稱 ，他會傳送用戶名稱給server，然後收到該用戶的收藏問題list。
        //alert(name);
           $$.post('/link/favorite',{
            name:name

           },
            function(data){
                //alert(data);
                for(i= 0 ;i<=data.length;i++){


                    var ElapsedTime = data[i]['ElapsedTime'];
                    var ElapsedTimestr = " ";
                    // alert(parseInt(ElapsedTime/60*60*24*7))
                    if (parseInt(ElapsedTime/60) == 0){
                        ElapsedTimestr += ElapsedTime + "秒鐘前"

                    }else if (parseInt(ElapsedTime/60/60) == 0){
                        ElapsedTimestr += parseInt(ElapsedTime/60) + "分鐘前"

                    }else if (parseInt(ElapsedTime/60/60/24) == 0){
                        ElapsedTimestr += parseInt(ElapsedTime/60/60) + "小時前"

                    }else if (parseInt(ElapsedTime/60/60/24/7) == 0){
                        ElapsedTimestr += parseInt(ElapsedTime/60/60/24) + "天前"

                    }else if (parseInt(ElapsedTime/60/60/24/7/4) == 0){
                        ElapsedTimestr += parseInt(ElapsedTime/60/60/24/7) + "星期前"

                    }else if (parseInt(ElapsedTime/60/60/24/7/4/12) == 0){
                        ElapsedTimestr += parseInt(ElapsedTime/60/60/24/7/4) + "月前"

                    }else{
                        ElapsedTimestr += ElapsedTime
                    }


                    $$('#listf').append(
                        "<div class=\"list-group-item\">"
                            +"<div class=\"row\">"
                                +"<div class=\"col-lg-11 col-md-11 col-sm-11 col-xs-11\">"
                                    +"<a href=\"/link/question?title=" + data[i]["q_title"] + "&user=$name\">"
                                        +"<h4 class=\"list-group-item-heading\">"+ data[i]['q_title'] +"</h4>"
                                    +"</a>"
                                    +"<p class=\"list-group-item-text\">"+ data[i]['q_content']+"</p>"
                                    +"<div>"
                                        +"<a href=\"#\">"+ data[i]['q_pro']+"</a>"
                                        +"<span >-</span><span>" + ElapsedTimestr + "</span>&nbsp;&nbsp;<span><img src=\"/static/images/mith.png\" style=\"width:16px;height:16px;border:0;\"> " + data[i]["q_mithril"] + " MITH</span>"
                                    +"</div>"
                                +"</div>"
                                +"<div class=\"col-lg-1 col-md-1 col-sm-1 col-xs-1\">"
                                    +"<a href=\"/link/favorite/del?title=\'" + data[i]['q_title'] + "\'&name=\'$name\'\">" 
                                        +"<img src=\"/static/images/trash.png\" style=\"max-width:100%;\"/>Remove"
                                    +"</a>"
                                +"</div>"
                            +"</div>"
                        +"</div>"

                        );
                }
           });     
       } 
// 需要的URL：action="/link/favorite" ，method="post"
// 傳送：name
// 接收：
//      [
//          {q_title : <value>, q_content : <value>，q_people : <value>，q_pro : <value>，sys_time_e : <value>，ElapsedTime : <value>},
//          ...
//      ]
// 參數說明：
//      q_title         ：問題標題
//      q_content       ：問題內容
//      q_people        ：發問人
//      q_pro           ：分類
//      sys_time_e      ：問題結束時間
//      ElapsedTime     ：發問已經過時間(秒)  
//      q_mithril       ：該問題提供的秘銀幣
    </script>    
</head>

<body onload="onloadFunction(); test1('$name');">
    <input type="hidden" name="afrom" id="afrom" value="$static">   <!-- value值為登入狀態，s為登入，f為未登入 -->
    <input type="hidden" name="aname" id="aname" value="$name">     <!-- 若登入，value為使用者名子，未登入則顯示none -->
    <section class="main-menu">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							     <img style="width:15%;" src="/static/images/logo.jpg">
                        </div>		
						<div style="width:60%;" class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
							<form action="/command/inquire" class="search-form">
								<div class="form-group has-feedback">
									<label for="search" class="sr-only">Search</label>
									<input type="text" class="form-control" name="search" id="search" placeholder="search">
									<span class="glyphicon glyphicon-search form-control-feedback"></span>
								</div>
							</form>
						</div>
                        <div>
                            <div class="collapse navbar-collapse" id="myNavbar">
                                <!-- 拉到右邊的導覽列清單 -->
                                <ul class="nav navbar-nav navbar-right">
									<li class="active"><a href="/">Home<span class="sr-only">(目前頁面)</span></a></li>
									<li><a href="/command/postQuestion">提問</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
											<span id="user_icon">個人</span><span class="caret"></span>
										</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/link/profile">設定</a></li>
                                            <li><a href="/link/vault">VAULT</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="/link/favorite">收藏</a></li>
                                            
                                        </ul>
                                    </li>
                                    <li><a id="login_menu1" href="/command/signIn">Log In</a></li>
                                    <li><a id="login_menu2" href="/command/signUp">註冊</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    </section>
    <section class="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<h3>My Favorite</h3><br>
					<div class="list-group" align="left">
                        <div id ="listf" lass="list-group-item">
                                
                        </div>
					</div>
				</div>
            </div>
        </div>
    </section>
    <footer>
        <section class="footer1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <ul>
                            <li>服務條款</li>
                            <li>常見問題</li>
                            <li>隱私說明</li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <ul>
                            <li>商業合作</li>
                            <li><a href="/about">關於我們</a></li>
                            <li><a href="mailto:a57345734@yahoo.com.tw">聯絡我們</li>
                        </ul>
                    </div>
                    <img src="/static/images/facebook.png" /> <img src="/static/images/twitter.png" /> <img src="/static/images/youtube.png" /> </div>
                </div>
            </div>
        </section>
        <section class="footer2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p>©2019 SkrInformationCity. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </section>
    </footer>


 <div id="fixed-btn"><a href="#"><span class="glyphicon glyphicon-arrow-up"></span> to Top</a></div>




</body>

</html>
