<html>
  <head>
    <title>Index</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script>
        function Qdata1() {
            $$.post(
                'http://haoyi.synology.me:8002/JsonOutput',
                {   
                	'test': 'XD'
                },
                function(data){
					alert(data["A"])        
                }
            );
     		// alert("apple")
        }
        function Qdata2() {
            $$.post(
                'http://haoyi.synology.me:8002/DBOutput',
                {   
                	'test': 'XD'
                },
                function(data){
					alert(data[0]["acc"]+" + "+data[0]["pass"])        
                }
            );
     		// alert("apple")
        }        
    </script>     
  </head>
  <body>
    <h1>Hello World!!</h1>
	<button onclick="Qdata1()">接收JSON格式</button>
	<button onclick="Qdata2()">資料庫回傳</button>
	<form action="/in" method="post">
		　姓名：<input type="text" name="user"><br>
		　內容：<input type="text" name="password"><br>
		　<input type="submit" value="送出表單">
	</form>
	<img src="/images/01.gif">
  </body>
</html>
