$def with (static, name)
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <title>skr Information City</title>
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/MyBootstrap/base.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/jquery/axjs0.js"></script>
	<script type="text/javascript" src="/static/jquery/skrscripts.js"></script>
    <script>
        $$(document).ready(function() {  
            $$(window).bind('scroll', function() { 
                if ($$(window).scrollTop() > 600) {
                    $('nav').addClass('fixed');
                } else {
                    $('nav').removeClass('fixed');
                }
            });
        });
    </script>
	<script>
		function onloadFunction() {
			var afrom=document.getElementById("afrom");
			var username=document.getElementById("aname");
			var usertag = document.getElementById("user_icon");
			var logout_tag = document.getElementById("login_menu1");
			
			if (afrom.value == "f" && username.value == "none"){
				return;
			}else{
				logout_tag.innerHTML = "Log Out";
				logout_tag.href = "/command/signOut"
				usertag.innerHTML = username.value;
			}
		}
		
		function moneyCheck() {
			var notOK=0;
			var q_mithril=document.getElementById("q_mithril");
			if(q_mithril.value < 20){
				alert("at least 20 mith");
				notOK=1;
			}
			
			return notOK;
		}
		
		function validate(){
			var notOK=moneyCheck();
			if(notOK()==1) return false;
			else return true;
		}
	</script>
</head>

<body onload="onloadFunction()">
	<input type="hidden" name="afrom" id="afrom" value="$static"> 
    <input type="hidden" name="aname" id="aname" value="$name">
    <section class="main-menu">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							   <img style="width:15%;" src="/static/images/logo.jpg">
                        </div>		
						<div style="width:60%;" class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
							<form action="/command/inquire" class="search-form">
								<div class="form-group has-feedback">
									<label for="search" class="sr-only">Search</label>
									<input type="text" class="form-control" name="search" id="search" placeholder="search">
									<span class="glyphicon glyphicon-search form-control-feedback"></span>
								</div>
							</form>
						</div>
                        <div>
                            <div class="collapse navbar-collapse" id="myNavbar">
                                <!-- 拉到右邊的導覽列清單 -->
                                <ul class="nav navbar-nav navbar-right">
									<li class="active"><a href="/">Home<span class="sr-only">(目前頁面)</span></a></li>
									<li><a href="/command/postQuestion">提問</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
											<span id="user_icon">個人</span><span class="caret"></span>
										</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/link/profile">設定</a></li>
                                            <li><a href="/link/vault">VAULT</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="/link/favorite">收藏</a></li>
                                            
                                        </ul>
                                    </li>
                                    <li><a id="login_menu1" href="/command/signIn">Log In</a></li>
                                    <li><a id="login_menu2" href="/command/signUp">註冊</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<form action="/command/postQuestion" method="post" onSubmit = "return validate();">
						<h1>Post Question</h1>
						<br>
						<div class="form-group">
							<label for="inputSubject">Subject</label>
							<textarea class="form-control" id="q_title" name="q_title" maxlength="500" rows="3" style="width:100%;" required></textarea>
						</div>
						<div class="form-group">
							<label for="inputType">Type</label>
							<div>
							<select class="form-control" id="q_pro" name="q_pro">
							<!-- <select class="form-control" id="q_pro" name="q_pro" size="4" multiple required> -->
								<option value="Blockchain">Blockchain</option>
								<option value="Education">Education</option>
								<option value="Computer">Computer</option>
								<option value="Healthy">Healthy</option>
								<option value="Science">Science</option>
								<option value="Travel">Travel</option>
								<option value="Beauty">Beauty</option>
								<option value="Sport">Sport</option>
								<option value="Music">Music</option>
								<option value="Art">Art</option>
								<option value="Game">Game</option>
								<option value="Food">Food</option>
								<option value="Law">Law</option>
								<option value="Car">Car</option>
								<option value="Pet">Pet</option>
							</select>
							</div>
						</div>
<!-- 						<div class="form-group">
							<label for="inputPeriod"> Validity Period</label>
							<input type="text" class="form-control" placeholder="less than 5 (Unit: Day)" required>
						</div> -->
<!-- 						<div class="form-group">
							
							<input type="checkbox" name="fancy-checkbox-primary" id="fancy-checkbox-primary" value="1" autocomplete="off" onclick="on_off_VAULT('fancy-checkbox-primary','id-vault-box');"/>
							<div class="[ btn-group ]">
								<label for="fancy-checkbox-primary" class="[ btn btn-primary ]">
									<span class="[ glyphicon glyphicon-ok ]"></span>
									<span> </span>
								</label>
								<label for="fancy-checkbox-primary" class="[ btn btn-default ]">
									VAULT
								</label>
							</div>
							<div id="id-vault-box" style="display: none" class="form-group">
								<label for="inputPeriod">Contribute to MITH (Mithril)</label>
								<input type="text" class="form-control" id="q_mithril" name="q_mithril" placeholder="Must contribute 20 MITH(Mithril)" value="20" required>
							</div>
							<div id="id-vault-box" style="display: none">
								<input type="text" class="form-control" id="q_mithril" name="q_mithril" placeholder="MITH(Mithril)" maxlength="50">
							</div>
						</div> -->
						<div class="form-group">
							<label for="inputPeriod">Contribute to MITH (Mithril)</label>
							<input type="number" class="form-control" id="q_mithril" name="q_mithril" onfocusout="moneyCheck()" min="20" placeholder="Need at least 20 mith" required>
						</div>						
						<div class="form-group">
							<label for="inputContent">Content</label>
							<textarea class="form-control" id="q_content" name="q_content" maxlength="500" rows="7" style="width:100%;"></textarea>
						</div>
						<div>
							<br>
							<button type="submit" class="btn btn-primary">Submit</button>
							<!-- <button type="reset" class="btn btn-outline-secondary">Cancel</button> -->
						</div>
						<input type="hidden" name="name" id="name" value="$name">
					</form>
                </div>
            </div>
        </div>
    </section>
	
    <footer>
        <section class="footer1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <ul>
                            <li>服務條款</li>
                            <li>常見問題</li>
                            <li>隱私說明</li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <ul>
                            <li>商業合作</li>
                            <li><a href="/about">關於我們</a></li>
                            <li><a href="mailto:a57345734@yahoo.com.tw">聯絡我們</li>
                        </ul>
                    </div>
                    <img src="/static/images/facebook.png" /> <img src="/static/images/twitter.png" /> <img src="/static/images/youtube.png" /> </div>
                </div>
            </div>
        </section>
        <section class="footer2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p>©2019 SkrInformationCity. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </section>
    </footer>


 <div id="fixed-btn"><a href="#"><span class="glyphicon glyphicon-arrow-up"></span> to Top</a></div>

</body>

</html>
